$mediaMinWidth: 600px;
$mediaMaxWidth: 700px;

$fontResize: 350px;

$blurAmount: 3px;

@keyframes translationPulse {
    0% {
        transform: scale(1.03) translateX(-10px);
        opacity: 0.7;
        filter: blur($blurAmount);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}
@keyframes translationPulseContacts {
    0% {
        transform: scale(1.2);
        filter: blur($blurAmount);
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
    }
}