@use "../../src/sass/palette" as palette;

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

    /* remove blue highlight android */
    -webkit-tap-highlight-color: transparent;
    outline: none;

    --time: .2s;

    transition:
        background var(--time),
        color var(--time),
        border var(--time);
}
html, body {
    width: 100vw;
}
body {
    background-color: palette.$primary;
}

/* width */
::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: palette.$auxiliar; 
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: palette.$highlight; 
}



/* Selection */
::selection {
    color: palette.$primary;
    background: palette.$highlight;
}